li#i4j5-create-lead-project.button-input__context-menu__item.element__basket
	.button-input__context-menu__item__inner
		img(src=require("./create-lead-project__img.png"))
		span.button-input__context-menu__item__text Создать проект в asana