span.modal-body__close
    span.icon.icon-modal-close

.widget_settings_block__title_field(title='') Шаблон: 
.control--select.linked-form__select
    ul.custom-scroll.control--select--list
        li.control--select--list--item.control--select--list--item-selected(data-value='', data-color='')
            span.control--select--list--item-inner(title='Выбрать') Выбрать
        li.control--select--list--item(data-value='1', data-color='')
            span.control--select--list--item-inner(title='1') 1
        li.control--select--list--item(data-value='2', data-color='')
            span.control--select--list--item-inner(title='2') 2
    button.control--select--button(tabindex='', type='button', data-value='')
        span.control--select--button-inner Выбрать
    input.control--select--input(type='hidden', id='', name='', value='', data-prev-value='')
button.button-input.js-widget-save.button-input-disabled(type='button')
    span.button-input-inner
        span.button-input-inner__text Сохранить
