.modal-body__inner.modal-body__inner__success    
    form#i4j5-create-lead-project__form

        span.modal-body__close
            span.icon.icon-modal-close

        .widget_settings_block__title_field(title='' style='margin-bottom: 5px') Шаблон: 
        .control--select.linked-form__select
            ul.custom-scroll.control--select--list
                li.control--select--list--item.control--select--list--item-selected(data-value='', data-color='')
                    span.control--select--list--item-inner(title='Выбрать') Выбрать

                li.control--select--list--item(data-value='{project:1109239567482271,task:1109479394947631,section:1109239567482276}')
                    span.control--select--list--item-inner(title='[ИССЛЕДОВАНИЕ] ВК ПОД КЛЮЧ') [ИССЛЕДОВАНИЕ] ВК ПОД КЛЮЧ

                li.control--select--list--item(data-value='{project:1109239567482271,task:1109254328027162,section:1109239567482276}')
                    span.control--select--list--item-inner(title='[ИССЛЕДОВАНИЕ] ГАЗ ПОД КЛЮЧ') [ИССЛЕДОВАНИЕ] ГАЗ ПОД КЛЮЧ

                li.control--select--list--item(data-value='{project:1109239567482271,task:1147064611711947,section:1109239567482276}')
                    span.control--select--list--item-inner(title='[ИССЛЕДОВАНИЕ] БЕСТРАНШЕЙНЫЕ ТЕХНОЛОГИИ') [ИССЛЕДОВАНИЕ] БЕСТРАНШЕЙНЫЕ ТЕХНОЛОГИИ

                li.control--select--list--item(data-value='{project:1109239567482271,task:1166519529922098,section:1109239567482276}')
                    span.control--select--list--item-inner(title='[ИССЛЕДОВАНИЕ] АВАРИЙКА ВК') [ИССЛЕДОВАНИЕ] АВАРИЙКА ВК

                li.control--select--list--item(data-value='{project:1109239567482271,task:1128719654100440,section:1109239567482276}')
                    span.control--select--list--item-inner(title='[ИССЛЕДОВАНИЕ] ЭЛЕКТРОФИКАЦИЯ') [ИССЛЕДОВАНИЕ] ЭЛЕКТРОФИКАЦИЯ 

                li.control--select--list--item(data-value='')
                    span.control--select--list--item-inner(title='---------') ---------

                li.control--select--list--item(data-value='{project:1109477401633257,task:1144872437734930,section:1109477401633262}')
                    span.control--select--list--item-inner(title='[РАСЧЁТ] ПАСПОРТ ВКХ') [РАСЧЁТ] ПАСПОРТ ВКХ

                li.control--select--list--item(data-value='{project:1109477401633257,task:1133039636380327,section:1133322589148953}')
                    span.control--select--list--item-inner(title='[РАСЧЁТ] ПЛАН РАСПОЛОЖЕНИЯ ОБЪЕКТА ЭЛЕКТРОФИКАЦИИ') [РАСЧЁТ] ПЛАН РАСПОЛОЖЕНИЯ ОБЪЕКТА ЭЛЕКТРОФИКАЦИИ

                li.control--select--list--item(data-value='{project:1109477401633257,task:1140452491419394,section:1151474067673395}')
                    span.control--select--list--item-inner(title='[РАСЧЁТ] ТЕПЛОВАЯ НАГРУЗКА И ГВС') [РАСЧЁТ] ТЕПЛОВАЯ НАГРУЗКА И ГВС

                li.control--select--list--item(data-value='{project:1109477401633257,task:1147598048544674,section:1109477401633262}')
                    span.control--select--list--item-inner(title='[РАСЧЁТ] БАЛАНС ВК') [РАСЧЁТ] БАЛАНС ВК

                li.control--select--list--item(data-value='')
                    span.control--select--list--item-inner(title='---------') ---------

                li.control--select--list--item(data-value='{project:1108920005015164,task:1125844205576392,section:1108920005015169}')
                    span.control--select--list--item-inner(title='ТП БТИ ТОПОГРАФИЯ') ТП БТИ ТОПОГРАФИЯ

                li.control--select--list--item(data-value='{project:1116633701436225,task:1146591228303037,section:1116633701436235}')
                    span.control--select--list--item-inner(title='ПРОЕКТИРОВАНИЕ УЗЛОВ УЧЕТА') ПРОЕКТИРОВАНИЕ УЗЛОВ УЧЕТА

                li.control--select--list--item(data-value='')
                    span.control--select--list--item-inner(title='---------') ---------                   

                li.control--select--list--item(data-value='{project:955587528965481}')
                    span.control--select--list--item-inner(title='✪ ГАЗ ПОД КЛЮЧ') ✪ ГАЗ ПОД КЛЮЧ

                li.control--select--list--item(data-value='{project:1108920183043326}')
                    span.control--select--list--item-inner(title='✪ ОФОРМЛЕНИЕ СУЩЕСТВУЮЩИХ СЕТЕЙ ВК') ✪ ОФОРМЛЕНИЕ СУЩЕСТВУЮЩИХ СЕТЕЙ ВК

                li.control--select--list--item(data-value='{project:955587528965524}')
                    span.control--select--list--item-inner(title='✪ ВК ПОД КЛЮЧ') ✪ ВК ПОД КЛЮЧ

                li.control--select--list--item(data-value='{project:982115940889744}')
                    span.control--select--list--item-inner(title='✪ ПРОЕКТИРОВАНИЕ ВК') ✪ ПРОЕКТИРОВАНИЕ ВК
                
                li.control--select--list--item(data-value='{project:1171360635050453}')
                    span.control--select--list--item-inner(title='✪ СМР ВК и ВВОД В ЭКСПЛУАТАЦИЮ') ✪ СМР ВК и ВВОД В ЭКСПЛУАТАЦИЮ

                li.control--select--list--item(data-value='{project:1171360635050455}')
                    span.control--select--list--item-inner(title='✪ СМР ВК') ✪ СМР ВК

                li.control--select--list--item(data-value='{project:1171360635050457}')
                    span.control--select--list--item-inner(title='✪ ВК ВВОД В ЭКСПЛУАТАЦИЮ') ✪ ВК ВВОД В ЭКСПЛУАТАЦИЮ

                li.control--select--list--item(data-value='')
                    span.control--select--list--item-inner(title='---------') ---------

                li.control--select--list--item(data-value='{project:1171396138687105}')
                    span.control--select--list--item-inner(title='ШАБЛОН ДЛЯ ТЕСТИРОВАНИЯ') ШАБЛОН ДЛЯ ТЕСТИРОВАНИЯ

            button.control--select--button(tabindex='', type='button', data-value='')
                span.control--select--button-inner Выбрать
            input.control--select--input(type='hidden', id='i4j5-create-lead-project__template_id', name='template_id', value='', data-prev-value='')
        
        div(style='margin-top: 15px')
            input(type='hidden', name='deal_id', value=lead_id, id="i4j5-create-lead-project__lead_id")
            button.button-input.button-input_blue(type='submit')
                span.button-input-inner
                    span.button-input-inner__text Создать