.modal-body__inner.modal-body__inner__success    
    form#i4j5-create-lead-project__form

        span.modal-body__close
            span.icon.icon-modal-close

        .widget_settings_block__title_field(title='' style='margin-bottom: 5px') Шаблон: 
        .control--select.linked-form__select
            ul.custom-scroll.control--select--list
                li.control--select--list--item.control--select--list--item-selected(data-value='', data-color='')
                    span.control--select--list--item-inner(title='Выбрать') Выбрать

                li.control--select--list--item(data-value='{project:1109239567482271,task:1109479394947631,section:1109239567482276}')
                    span.control--select--list--item-inner(title='[ИССЛЕДОВАНИЕ] ВК ПОД КЛЮЧ') [ИССЛЕДОВАНИЕ] ВК ПОД КЛЮЧ

                li.control--select--list--item(data-value='{project:1109239567482271,task:1109254328027162,section:1109239567482276}')
                    span.control--select--list--item-inner(title='[ИССЛЕДОВАНИЕ] ГАЗ ПОД КЛЮЧ') [ИССЛЕДОВАНИЕ] ГАЗ ПОД КЛЮЧ

                li.control--select--list--item(data-value='{project:1109239567482271,task:1147064611711947,section:1109239567482276}')
                    span.control--select--list--item-inner(title='[ИССЛЕДОВАНИЕ] БЕСТРАНШЕЙНЫЕ ТЕХНОЛОГИИ') [ИССЛЕДОВАНИЕ] БЕСТРАНШЕЙНЫЕ ТЕХНОЛОГИИ

                li.control--select--list--item(data-value='{project:1109239567482271,task:1166519529922098,section:1109239567482276}')
                    span.control--select--list--item-inner(title='[ИССЛЕДОВАНИЕ] АВАРИЙКА ВК') [ИССЛЕДОВАНИЕ] АВАРИЙКА ВК

                li.control--select--list--item(data-value='{project:1109239567482271,task:1128719654100440,section:1109239567482276}')
                    span.control--select--list--item-inner(title='[ИССЛЕДОВАНИЕ] ЭЛЕКТРОФИКАЦИЯ') [ИССЛЕДОВАНИЕ] ЭЛЕКТРОФИКАЦИЯ 


                li.control--select--list--item(data-value='{project:955587528965481}')
                    span.control--select--list--item-inner(title='ГАЗ ПОД КЛЮЧ') ГАЗ ПОД КЛЮЧ

                li.control--select--list--item(data-value='{project:995886651685022}')
                    span.control--select--list--item-inner(title='ГАЗИФИКАЦИЯ ИЖС (1-Й ЭТАП: РД)') ГАЗИФИКАЦИЯ ИЖС (1-Й ЭТАП: РД)

                li.control--select--list--item(data-value='{project:982115940889744}')
                    span.control--select--list--item-inner(title='ПРОЕКТИРОВАНИЕ ВК') ПРОЕКТИРОВАНИЕ ВК

                li.control--select--list--item(data-value='{project:955646824668101}')
                    span.control--select--list--item-inner(title='ВК МАГИСТРАЛЬ') ВК МАГИСТРАЛЬ

                li.control--select--list--item(data-value='{project:982187694589811}')
                    span.control--select--list--item-inner(title='СМР ВК/ВВОД В ЭКСПЛУАТАЦИЮ') СМР ВК/ВВОД В ЭКСПЛУАТАЦИЮ

                li.control--select--list--item(data-value='{project:955587528965524}')
                    span.control--select--list--item-inner(title='ВК') ВК

                li.control--select--list--item(data-value='{project:1107967000371009}')
                    span.control--select--list--item-inner(title='БАЛАНС ВК/ТОПОСЪЕМКА') БАЛАНС ВК/ТОПОСЪЕМКА

                li.control--select--list--item(data-value='{project:1108920183043326}')
                    span.control--select--list--item-inner(title='ОТКРЫТИЕ ЛИЦЕВОГО СЧЕТА ВК') ОТКРЫТИЕ ЛИЦЕВОГО СЧЕТА ВК

                li.control--select--list--item(data-value='{project:1114966721009149}')
                    span.control--select--list--item-inner(title='СМР ВК') СМР ВК

                li.control--select--list--item(data-value='{project:1118025739793089}')
                    span.control--select--list--item-inner(title='ВК ВВОД В ЭКСПЛУАТАЦИЮ') ВК ВВОД В ЭКСПЛУАТАЦИЮ

                li.control--select--list--item(data-value='{project:1126187807087086}')
                    span.control--select--list--item-inner(title='СМР ВК/ОТКРЫТИЕ Л.СЧЕТОВ') СМР ВК/ОТКРЫТИЕ Л.СЧЕТОВ

                li.control--select--list--item(data-value='{project:1126431137269735}')
                    span.control--select--list--item-inner(title='ВНУТРЕННИЕ СМР ВК') ВНУТРЕННИЕ СМР ВК



                //- li.control--select--list--item(data-value='{"project":"1126187807087086"}')
                //-     span.control--select--list--item-inner(title='22. ШАБЛОН СМР ВК/ОТКРЫТИЕ Л.СЧЕТОВС') 22. ШАБЛОН СМР ВК/ОТКРЫТИЕ Л.СЧЕТОВС

                //- li.control--select--list--item(data-value='{"project":"1118025739793089"}')
                //-     span.control--select--list--item-inner(title='21. ШАБЛОН ВК ВВОД В ЭКСПЛУАТАЦИЮ') 21. ШАБЛОН ВК ВВОД В ЭКСПЛУАТАЦИЮ
                
                //- li.control--select--list--item(data-value='{"project":"1114966721009149"}')
                //-     span.control--select--list--item-inner(title='20. ШАБЛОН СМР ВК') 20. ШАБЛОН СМР ВК

                //- li.control--select--list--item(data-value='{"project":"1108920183043326"}')
                //-     span.control--select--list--item-inner(title='19. ШАБЛОН ОТКРЫТИЕ ЛИЦЕВОГО СЧЕТА ВК') 19. ШАБЛОН ОТКРЫТИЕ ЛИЦЕВОГО СЧЕТА ВК
                
                //- li.control--select--list--item(data-value='{"project":"1107967000371009"}')
                //-     span.control--select--list--item-inner(title='18. ШАБЛОН БАЛАНС ВК/ТОПОСЪЕМКА') 18. ШАБЛОН БАЛАНС ВК/ТОПОСЪЕМКА
                
                //- li.control--select--list--item(data-value='{"project":"955587528965524"}')
                //-     span.control--select--list--item-inner(title='17. ШАБЛОН ВК') 17. ШАБЛОН ВК

                //- li.control--select--list--item(data-value='{"project":"982187694589811"}')
                //-     span.control--select--list--item-inner(title='16. ШАБЛОН СМР ВК/ВВОД В ЭКСПЛУАТАЦИЮ  ') 16. ШАБЛОН СМР ВК/ВВОД В ЭКСПЛУАТАЦИЮ  

                //- li.control--select--list--item(data-value='{"project":"955646824668101"}')
                //-     span.control--select--list--item-inner(title='15. ШАБЛОН ВК_АДРЕС_МАГИСТРАЛЬ') 15. ШАБЛОН ВК_АДРЕС_МАГИСТРАЛЬ

                //- li.control--select--list--item(data-value='{"project":"982115940889744"}')
                //-     span.control--select--list--item-inner(title='14. ШАБЛОН ПРОЕКТИРОВАНИЕ ВК  ') 14. ШАБЛОН ПРОЕКТИРОВАНИЕ ВК  

                //- li.control--select--list--item(data-value='{"project":"1131671872080005"}')
                //-     span.control--select--list--item-inner(title='9.1 ШАБЛОНЫ ПРОЕКТОВ') 9.1 ШАБЛОНЫ ПРОЕКТОВ

            button.control--select--button(tabindex='', type='button', data-value='')
                span.control--select--button-inner Выбрать
            input.control--select--input(type='hidden', id='i4j5-create-lead-project__template_id', name='template_id', value='', data-prev-value='')
        
        div(style='margin-top: 15px')
            input(type='hidden', name='deal_id', value=lead_id, id="i4j5-create-lead-project__lead_id")
            button.button-input.button-input_blue(type='submit')
                span.button-input-inner
                    span.button-input-inner__text Создать