li#i4j5-create-google-calendar-event.button-input__context-menu__item.element__basket
	.button-input__context-menu__item__inner
		img(src=require("./create-google-calendar-event__img.png"))
		span.button-input__context-menu__item__text Создать задачу на обследование