li#i4j5-create-payment.button-input__context-menu__item.element__basket
	.button-input__context-menu__item__inner
		img(src=require("./create-payment__img.png"))
		span.button-input__context-menu__item__text Внести платёж		