.modal-body__inner.modal-body__inner__success    
    form#i4j5-create-payment__form

        span.modal-body__close
            span.icon.icon-modal-close

        .widget_settings_block__item_field(style="margin-bottom: 10px")
            .widget_settings_block__title_field(style="margin-bottom: 5px") Сумма:
            .widget_settings_block__input
                input(name='location').text-input#i4j5-create-payment__sum


        .widget_settings_block__item_field(style="margin-bottom: 10px")
            .widget_settings_block__title_field(style="margin-bottom: 5px") Дата:
            .widget_settings_block__title_field(style="margin-bottom: 5px;")
                span.date_field_wrapper.js-control-date-time
                    input(type='text' maxlength='16' name='date' placeholder='' from='calendar').date_field.text-input.linked-form__cf.military.date_field_with-time#i4j5-create-payment__date
                    .date_field_wrapper--calendar
                        svg.svg-card-calendar-dims
                            use(xlink:href='#card-calendar')


        
        .widget_settings_block__item_field(style="margin-bottom: 10px")
            .widget_settings_block__title_field(style='margin-bottom: 5px') Тип:
            .control--select.linked-form__select
                ul.custom-scroll.control--select--list
                    li.control--select--list--item.control--select--list--item-selected(data-value='', data-color='')
                        span.control--select--list--item-inner(title='Выбрать') Выбрать

                    li.control--select--list--item(data-value='Перевод на карту СберБанк')
                        span.control--select--list--item-inner(title='Перевод на карту СберБанк') Перевод на карту СберБанк
                    
                    li.control--select--list--item(data-value='Перевод на карту Тинькофф')
                        span.control--select--list--item-inner(title='Перевод на карту Тинькофф') Перевод на карту Тинькофф
                        
                    li.control--select--list--item(data-value='Терминал')
                        span.control--select--list--item-inner(title='Терминал') Терминал
                    
                    li.control--select--list--item(data-value='Наличные')
                        span.control--select--list--item-inner(title='Наличные') Наличные

                    li.control--select--list--item(data-value='Рассрочка')
                        span.control--select--list--item-inner(title='Рассрочка') Рассрочка
                    
                    li.control--select--list--item(data-value='Кредит')
                        span.control--select--list--item-inner(title='Кредит') Кредит

                    li.control--select--list--item(data-value='Безналичный расчет')
                        span.control--select--list--item-inner(title='Безналичный расчет') Безналичный расчет

                button.control--select--button(tabindex='', type='button', data-value='')
                    span.control--select--button-inner Выбрать
                input.control--select--input(type='hidden', id='i4j5-create-payment__type', name='type', value='', data-prev-value='')
        
        .widget_settings_block__item_field(style="margin-bottom: 10px")
            .widget_settings_block__title_field(style="margin-bottom: 5px") Описание:
            .widget_settings_block__input
                textarea(name='description' id='i4j5-create-payment__description').text-input.text-input-textarea.edit-integration-modal__textarea=description
        
        div(style='margin-top: 15px')
            input(type='hidden', name='lead_id', value=lead_id, id="i4j5-create-lead-project__lead_id")
            button.button-input.button-input_blue(type='submit')
                span.button-input-inner
                    span.button-input-inner__text Добавить
