div(data-id=id).i4j5-cost-price.control-price.card-budget__input
	input(name='' type="text" placeholder="0" value="" maxlength="17" data-format-short="1" data-autosized="y" autocomplete="off" style="width: 13px").js-control-pretty-price.js-form-changes-skip.text-input
	span.card-budget__currency.card-budget__currency_title ₽