.modal-body__inner.modal-body__inner__success    
    form#i4j5-create-lead-project__form

        span.modal-body__close
            span.icon.icon-modal-close

        .widget_settings_block__title_field(title='' style='margin-bottom: 5px') Шаблон: 
        .control--select.linked-form__select
            ul.custom-scroll.control--select--list
                li.control--select--list--item.control--select--list--item-selected(data-value='', data-color='')
                    span.control--select--list--item-inner(title='Выбрать') Выбрать
                
                li.control--select--list--item(data-value='955587528965481')
                    span.control--select--list--item-inner(title='12. ФШАБЛОН ГАЗИФИКАЦИЯ ИЖС') 12. ФШАБЛОН ГАЗИФИКАЦИЯ ИЖС 

                li.control--select--list--item(data-value='1126187807087086')
                    span.control--select--list--item-inner(title='22. ШАБЛОН СМР ВК/ОТКРЫТИЕ Л.СЧЕТОВС') 22. ШАБЛОН СМР ВК/ОТКРЫТИЕ Л.СЧЕТОВС

                li.control--select--list--item(data-value='1118025739793089')
                    span.control--select--list--item-inner(title='21. ШАБЛОН ВК ВВОД В ЭКСПЛУАТАЦИЮ') 21. ШАБЛОН ВК ВВОД В ЭКСПЛУАТАЦИЮ
                
                li.control--select--list--item(data-value='1114966721009149')
                    span.control--select--list--item-inner(title='20. ШАБЛОН СМР ВК') 20. ШАБЛОН СМР ВК

                li.control--select--list--item(data-value='1108920183043326')
                    span.control--select--list--item-inner(title='19. ШАБЛОН ОТКРЫТИЕ ЛИЦЕВОГО СЧЕТА ВК') 19. ШАБЛОН ОТКРЫТИЕ ЛИЦЕВОГО СЧЕТА ВК
                
                li.control--select--list--item(data-value='1107967000371009')
                    span.control--select--list--item-inner(title='18. ШАБЛОН БАЛАНС ВК/ТОПОСЪЕМКА') 18. ШАБЛОН БАЛАНС ВК/ТОПОСЪЕМКА
                
                li.control--select--list--item(data-value='955587528965524')
                    span.control--select--list--item-inner(title='17. ШАБЛОН ВК') 17. ШАБЛОН ВК

                li.control--select--list--item(data-value='982187694589811')
                    span.control--select--list--item-inner(title='16. ШАБЛОН СМР ВК/ВВОД В ЭКСПЛУАТАЦИЮ  ') 16. ШАБЛОН СМР ВК/ВВОД В ЭКСПЛУАТАЦИЮ  

                li.control--select--list--item(data-value='955646824668101')
                    span.control--select--list--item-inner(title='15. ШАБЛОН ВК_АДРЕС_МАГИСТРАЛЬ') 15. ШАБЛОН ВК_АДРЕС_МАГИСТРАЛЬ

                li.control--select--list--item(data-value='982115940889744')
                    span.control--select--list--item-inner(title='14. ШАБЛОН ПРОЕКТИРОВАНИЕ ВК  ') 14. ШАБЛОН ПРОЕКТИРОВАНИЕ ВК  

                li.control--select--list--item(data-value='995886651685022')
                    span.control--select--list--item-inner(title='13. ШАБЛОН ГАЗИФИКАЦИЯ ИЖС (1-Й ЭТАП: РД)') 13. ШАБЛОН ГАЗИФИКАЦИЯ ИЖС (1-Й ЭТАП: РД)  
                
                li.control--select--list--item(data-value='1131671872080005')
                    span.control--select--list--item-inner(title='9.1 ШАБЛОНЫ ПРОЕКТОВ') 9.1 ШАБЛОНЫ ПРОЕКТОВ

            button.control--select--button(tabindex='', type='button', data-value='')
                span.control--select--button-inner Выбрать
            input.control--select--input(type='hidden', id='i4j5-create-lead-project__template_id', name='template_id', value='', data-prev-value='')
        
        div(style='margin-top: 15px')
            input(type='hidden', name='deal_id', value=lead_id, id="i4j5-create-lead-project__lead_id")
            button.button-input.button-input_blue(type='submit')
                span.button-input-inner
                    span.button-input-inner__text Создать