li#i4j5-create-folders.button-input__context-menu__item.element__basket
	.button-input__context-menu__item__inner
		img(src=require("./create-folders__img.png"))
		span.button-input__context-menu__item__text Создать клиентскую папку (Яндекс.Диск)