.modal-body__inner.body__inner__success
    h2.modal-body__caption.head_2.progress__header#i4j5-create-folders__messages Создание папок
    .progress__messages
    .progress__inner#i4j5-create-folders__synchronization
        .progress__status
            .progress__filler#i4j5-create-folders__synchronization-filler(style="width: 0%;")
            span.progress__status-text#i4j5-create-folders__synchronization-text 0%
        .progress__bar-wrapper
            .progress__bar#i4j5-create-folders__synchronization-bar(style="width: 0%;")
    .modal-body__actions
        button.button-input(style="display:none;")#i4j5-create-folders__btn-ok.modal-body__close
            span.button-input-inner
                span.button-input-inner__text Продолжить работу