.i4j5-
    
    &duplicate
        border-radius: 3px !important
        background: #ff8e8e !important
        color: #000 !important
        &:before
            border: none !important

    &tag
        &__site
            border-radius: 3px !important
            background: #abf387 !important
            color: #000 !important
            &:before
                border: none !important
        &__avito-shop
            border-radius: 3px !important
            background: #87d7ff !important
            color: #000 !important
            &:before
                border: none !important

    &duplicate-btn
        background: #ff8e8e !important
        color: #000 !important
        border: 1px solid #fe6f6f !important

    &todo
        &_type
            &_a
                background-color: #ffe0e0
                border-color: #fcaaaa
            &_c
                background-color: #fcf4db

#i4j5-
    &create-lead-folders
        img
            margin-right: 6px
            width: 16px

    &create-lead-project
        img
            margin-right: 6px
            width: 16px

    &spam
        img
            margin-right: 6px
            width: 16px